.photography-post-summary {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.photography-post-summary-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.photography-post-summary-image {
  height: 100px;
  width: 100px;
  border-radius: 3px;
  object-fit: cover;
}
