.admin-haiga-list-item {
  background-color: rgba(226, 226, 226, 0.8);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 52px);
  padding: 18px;
  margin: 8px;
  border-radius: 3px;
}

.admin-haiga-list-item-inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
