.haiku-list-line {
  color: #181818;
  font-size: 20px;
  text-align: center;
  margin: 10px 0;
}

.haiku-list-publisher {
  font-size: 14px;
  color: #4b4b4b;
  margin-top: 20px;
  text-align: center;
}
