.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 25px;
  margin: 20px 0px 10px 0px;
  width: 100%;
}

.header-separator {
  width: calc(100% - 60px);
  margin: 0px 30px;
  height: 0px;
  border-top: 2px dotted rgba(0, 0, 0, 0.4);
}

.header-title {
  margin: 0px 20px 0px 40px;
}

.pages {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  padding: 0px 40px 0px 40px;
  font-size: 15px;
}

.pages a {
  text-decoration: none;
  margin: 0px 30px 2px 30px;
  opacity: 0.5;
  color: black;
  transition: opacity 0.5s;
}

.pages .active {
  font-weight: bold;
  opacity: 1;
}

.pages a:hover {
  margin-bottom: 0px;
  border-bottom: 2px solid black;
  opacity: 1;
  cursor: pointer;
}
