.card {
  background-color: rgba(226, 226, 226, 0.75);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 52px);
  padding: 18px;
  margin: 8px;
  border-radius: 3px;
}
