.data-editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.data-editor-content {
  position: relative;
  margin: 12px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1000px;
  min-width: 550px;
  max-height: calc(100% - (24px + 16px));
  padding: 20px;
  background-color: rgba(226, 226, 226, 0.8);
  border-radius: 3px;
}

.data-list-item-inputs {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  max-height: 100%; /* Added max-height property */
}

.data-editor-item-controls {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
